* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.app {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-right: auto;
  padding: 15px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    margin-top: 20px;
    padding: 15px 0 15px 0;
    border-radius: 10px;
}

.desc {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  font-size: 20px;
}

.log, a {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: #1DB954;
  color: white;
  font-size: 16px;
  text-align: center;
}

.song-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
  gap: 20px;
}

.subtitle {
  display: flex;
  font-size: 30px;
  text-decoration: underline;
  margin-top: 20px;
  color: #1DB954;
}

.single-song {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 10px;
  background: #f8f8f8;
}

.song-title {
  padding-left: 30px;
}

.album-cover {
  display: flex;
  height: 100px;
}

.time-frame{
  display: flex;
  font-size: 23px;
  margin-top: 20px; 
  text-decoration: none;
}

.playlist-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  margin-top: 20px;
  padding: 15px 0 15px 0;
  border-radius: 10px;
}

.create-playlist-desc {
  width: 500px;
  font-size: 17px;
  margin-right: auto;
  padding: 15px;
}

.create-playlist {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: #1DB954;
  color: white;
  font-size: 16px;
}